<!--*******************************************************************************************
* Copyright © 2013 Deepika Punyamurtula
* MyMoneyMate - Is an Open Source Android application to keep a record of your expenses.
* This program is free software: you can redistribute it and/or modify it under 
* the terms of the GNU General Public License as published by the Free Software Foundation, 
* either version 3 of the License, or (at your option) any later version.

* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
* without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
* See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program.
* If not, see http://www.gnu.org/licenses/.
* Please see the file "License" in this distribution for license terms. 
* Below is the link to the License file:
* https://github.com/udeepika/MyMoneyMate/blob/master/License.txt
*
* Author - Deepika Punyamurtula
* email: udeepika@pdx.edu
* Link to repository- https://github.com/udeepika/MyMoneyMate
*
***************************************************************************************** -->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymeterexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.moneymeterexample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.moneymeterexample.AddExpenseActivity"
            android:label="@string/title_activity_add_expense" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewExpenses"
            android:label="@string/title_activity_view_expenses" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewExpenseActivity"
            android:label="@string/title_activity_view_expense"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewExpensesOptionsActivity"
            android:label="@string/title_activity_view_expenses_options" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.EditExpenseActivity"
            android:label="@string/title_activity_edit_expense" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewByDateActivity"
            android:label="@string/title_activity_view_by_date" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewByCategoryActivity"
            android:label="@string/title_activity_view_by_category" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.CustomViewActivity"
            android:label="@string/title_activity_custom_view" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.AChartEnginePieChartActivity"
            android:label="@string/title_activity_achart_engine_pie_chart" >
        </activity>
    </application>

</manifest>
