<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymeterexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.moneymeterexample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.moneymeterexample.AddExpense"
            android:label="@string/title_activity_add_expense" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewExpenses"
            android:label="@string/title_activity_view_expenses" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewExpenseActivity"
            android:label="@string/title_activity_view_expense"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewExpensesOptionsActivity"
            android:label="@string/title_activity_view_expenses_options" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.EditExpenseActivity"
            android:label="@string/title_activity_edit_expense" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewByDateActivity"
            android:label="@string/title_activity_view_by_date" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.ViewByCategoryActivity"
            android:label="@string/title_activity_view_by_category" >
        </activity>
        <activity
            android:name="com.example.moneymeterexample.CustomViewActivity"
            android:label="@string/title_activity_custom_view" >
        </activity>
    </application>

</manifest>
